.folder {
    list-style-type: none;
    font-size: 20px;
    margin: 30px 0 0;
    padding: 8px 16px;
    border: #F7DBD7 1px solid;
    max-width: 160px;
}

li .active {
    background-color: red;
}
