.add_folder_container {
    border: 2px dotted black;
    padding: 25px;
    margin: 15px;
}

.add_folder_field {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.submit_button {
    width: auto;
    font-size: 14px;
}